.carousel-img1{
    background-image: url('./image/carousel/3.jpg');
    width: 100%;
    height: 100vh;
}
.carousel-img2{
    background-image: url('./image/carousel/4.jpg');
    width: 100%;
    height: 100vh;
}
.carousel-img3{
    background-image: url('./image/carousel/5.jpg');
    width: 100%;
    height: 100vh;
}
.client-img {
    width: 160px;
}